/* styles/explore.module.css */
.TopDestinations {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 50px auto;
  height: 25vw;
  max-width: fit-content;
  }
  
.Title1{
  font-weight: 800;
  margin-bottom: 20px;
  margin-right: auto;
}

.AllDestinations{
  width: 70vw;
  margin: 50px auto;
  height: 25vw;
  display: flex;
  flex-direction: column;
  align-items: end;

}

.filters{
  display: flex;
  justify-content: center;
  align-items: center;
  gap:18px;
  margin-top: 40px;
  margin-bottom: 0;
}

.filterButton{
  border: 1px rgb(143, 143, 143) solid;
  padding: 8px 24px;
  border-radius: 10px;
  font-size: 14px;
  transition: 0.1s ease-in-out;
}

.filterButton:hover{
  border: 1px #0074D9 solid;
  padding: 8px 24px;
  border-radius: 10px;
  margin-top: -4px;
}

.filterButtonActive{
  border: 1px #0074D9 solid;
  background-color: #0074D9;
  color: white;
  padding: 8px 24px;
  border-radius: 10px;
  font-size: 14px;
  font-weight: 400;
}

.Error{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 80px;
  gap:20px;
}

.loginButton {
  font-size: 13px;
  color: white;
  text-decoration: none;
  padding: 8px 40px;
  border-radius: 8px;
  background-color: black;
  transition: background-color 0.3s ease, color 0.3s ease;
}


.loginButton:hover {
  background-color: #555;
  color: white;
}


