.locationDetail {
  padding: 20px;
  max-width: 800px;
  margin: 0 auto;
  background-color: #f9f9f9;
  border-radius: 10px;
}

.locationDetail h1 {
  font-size: 2.5rem;
  margin-bottom: 20px;
}

.locationDetail img {
  max-width: 100%;
  height: auto;
  border-radius: 8px;
  margin-bottom: 20px;
}

.locationDetail p {
  font-size: 1.2rem;
  margin-bottom: 10px;
}

.locationDetail strong {
  font-weight: bold;
}
