.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color:var(--background);
  font-family: Arial, sans-serif;
}

.heroSection {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: clamp(5px, 14.2vw, 220px);
  text-align: left;
  width: clamp(100px, 92vw, 1400px);
  height: 100vh;
  margin-top: -45px;
  padding: 0 60px;
}

.heroInfo {
  text-align: left;
  align-items: center;
  justify-content: center;
  min-width: 250px;
}

.adventure1 h1 {
  color: var(--foreground);
  font-size: clamp(3rem, 5vw, 4rem);
  font-weight: 700;
  line-height: 1.2;
}

.heroSubtext1 {
  font-family: Arial, sans-serif;
  font-weight: 400;
  color: #555;
  font-size: clamp(0.9rem, 1.2vw, 1rem)
}

.heroSubtext {
  margin-top: 5px;
  margin-bottom: 1.2rem;
  font-weight: 400;
  color: #2f2e2e;
  font-size: clamp(0.9rem, 1.2vw, 1rem);
  line-height: 1.6;
  max-width: 290px;

}

.imageLayout {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.8rem;
}

.leftColumn,
.rightColumn {
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
}

.large {
  width: clamp(10em, 15vw, 15rem);
  height: clamp(10rem, 20vw, 17rem);
  border-radius: 1rem;
  object-fit: cover;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.small {
  width: clamp(10rem, 15vw, 15rem);
  height: clamp(10rem, 10vw, 10rem);
  border-radius: 1rem;
  object-fit: cover;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.startExploring {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(17, 119, 203);
  color: #fff;
  font-size: 14px;
  font-weight: 600;
  padding: 0.55rem 1.85rem;
  border: none;
  border-radius: 9px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin-bottom: 15rem;
}


.howItWorks {
  text-align: center;
  padding: 40px 20px;
}

.heroImage,
.serviceCard img,
.destinationCard img {
  object-fit: cover;
  width: 100%;
  border-radius: 20px;
  margin-bottom: 15px;
}

.serviceCard {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}




.arrow {
  margin-left: 0.5rem;
  font-size: 1.2rem;
}



.servicesSection {
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 50px 50px;
}

.serviceHeader {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 3rem;
}

.ArrowButtons {
  display: flex;
  gap: 10px;
  justify-content: center;
  align-items: center;
  margin: 0;
}

.ArrowButtons img {
  height: 40px;
}

.servicesSection h2 {
  font-size: 2.1rem;
  font-weight: 700;
  text-align: left;
  color: var(--foreground)
}

.serviceGrid {
  display: flex;
  flex-wrap: wrap;
  gap: 2.2rem;
}

.serviceCard {
  border-radius: 1rem;
  box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 1px, rgba(0, 0, 0, 0.07) 0px 2px 2px, rgba(0, 0, 0, 0.07) 0px 4px 4px, rgba(0, 0, 0, 0.07) 0px 8px 8px, rgba(0, 0, 0, 0.07) 0px 16px 16px;
  padding: 2rem;
  text-align: center;
  height: 17rem;
  width: 14rem;
  align-items: center;
  display: flex;
  flex-direction: column;
  

}

.serviceCard:hover{
  transition: 0.2s ease;
  transform: translateY(-4px);
  box-shadow: rgba(0, 0, 0, 0.2) 0px 60px 40px -7px;
}

.serviceCard .icon {
  margin: 10px 0;

}

.serviceCard h3 {
  font-size: 1rem;
  font-weight: 600;
  margin: 8px 0;
}

.serviceCard p {
  font-size: 0.85rem;
  color: #555;
  width: 9rem;
  margin-bottom: 5px;
}





/* Work Section */

.workSection {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  margin-top: 100px;
  gap: clamp(10px, 7.1vw, 80px);

}

.imageContainer {
  position: relative;
  width: clamp(350px, 29vw 530px);
  height: 530px;
  overflow: hidden;
  border-radius: 1rem;
}

.workImage {
  width: 100%;
  height: 100%;
  object-fit: cover;

}

.workImage:hover {
  transition: 0.7s ease-in-out;
  transform: scale(1.5);
}

.imageContainer h1 {
  width: 300px;
  font-size: 1rem;
  font-weight: 400;
  text-align: left;
  color: #fff;
  position: absolute;
  top: 90%;
  left: 35%;
  transform: translate(-50%, -50%);
  padding-left: 50px;
  color: #fff;
}

.stepCard {
  font-family: poppins;
  letter-spacing: -0.2px;
  text-align: left;
}

.stepCard h1 {
  font-weight: 400;
  color: #797777;
  font-size: 1.1rem;
}

.stepCard h2 {
  font-size: 2.6rem;
  margin-bottom: 1.2rem;
  font-weight: 500;
  color: var(--foreground)
}

.workCard {
  display: flex;
  max-width: 28rem;
  padding: 20px 20px;
  border-radius: 0.7rem;
  gap: 15px;
  align-items: center;
  user-select: none;
}

.workCard:hover {
  transition: 0.1s ease;
  background: #fff;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 60px 40px -7px;
  cursor: pointer;
}

.workNumber {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 12px;
  border-radius: 8px;
  margin: 0 10px;
  background-color: var(--foreground);
}

.workNumber h1 {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 15px;
  width: 15px;
  color: #fff;
  font-weight: 500;
  font-size: 15px;

}

.workIcon {
  font-size: 1.3rem;
  margin: 0 5px;
}

.cardContent {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.cardContent strong {
  font-size: 1.0rem;
  font-weight: 500;
}

.cardContent p {
  font-size: 0.80rem;
  color: #555;
}

.arrowImg {
  height: 30px;
  margin-right: 10px;
}




/*Category*/

.categoriesSection {
  margin-top: 5rem;
  margin-bottom: 50px;
}


.categoriesSection h1 {
  font-size: 2.4rem;
  font-weight: 700;
  text-align: left;
  margin-bottom: 0.8rem;
  color: #2c2b2b;
  display: flex;
}


.categoriesSection h2 {
  text-align: left;
  font-weight: 400;
  color: #2f2e2e;
  font-size: 1rem;
  line-height: 1.6;
  display: flex;

}

.g {
  display: flex;
  justify-content: space-between;
  align-items: center;
}


.categoryGrid {
  display: flex;
  margin-top: 3rem;
  display: flex;
  gap: 32px;
}


.categoryCard img {
  height: 13rem;
  width: 11rem;
  object-fit: cover;
  border-radius: 5rem;
  display: flex;
}


.categoryCard {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  font-size: 1.05rem;
  color: #2c2b2b;
  gap: 12px;
}

.categoryCard h3{
  margin-top: 15px;
}

.categoryCard:hover {
  transition: 0.2s ease;
  transform: scale(1.03) translateY(-5px);
  cursor: pointer;
}





/*Destination*/

.destinationsSection {
  margin-top: 20px;
  display: flex;
  flex-direction: column;

  align-items: center;
  justify-content: center;
  text-align: left;
}

.destinationsSection h2 {
  font-size: 2rem;
  font-weight: 700;
  text-align: left;
  margin-right: auto;
  margin-bottom: 0.8rem;
  color: #2c2b2b;
  display: flex;
}

.destinationHeader{
  width: 100%;
  display: flex;
  justify-content: space-between;
  gap:100px;
  align-items: center;
}

.destinationGrid {
  display: flex;
  gap: 2.5rem;
  margin-top: 40px;
}

.roundedButton {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--foreground);
  font-size: 14px;
  color: white;
  height: 50px;
  padding: 0 30px;
  border-radius: 10px;
  transition: background-color 0.1s ease;
}

.roundedButton:hover {
  background-color: var(--primary-color);
}

.roundedButton:active {
  transition: 0.2s ease;
  transform: scale(0.95);
}