.main{

  background-color: rgb(248, 249, 250);
}

.container {
  max-width: 100%;
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  background-color: rgb(248, 249, 250);
}

.logo {
  font-size: 24px;
  font-weight: bold;
  padding-left: 5rem;
}

.navMenu1,.navMenu2,.navMenu3{
  display: flex;
  align-items: center;

}

.navMenu3{
  padding-right: 23rem;
}
.navMenu {
  display: flex;
  align-items: center;
  gap: 2.5rem;

}

.navMenu a {
  text-decoration: none;
  color: black;
}

.navMenuNew .loginBtn{
 margin-right: 1rem;
}

.loginBtn {
  background-color: transparent;
  padding: 6px 19px;
  border: none;
  border-radius: 5px;
 
}

.signupBtn {
  background-color: black;
  color: white;
  padding: 6px 19px;
  margin-right: 5rem;
  border: none;
  border-radius: 5px;
}

.loginBtn:hover{
  background-color: black;
  color: white;
}

.signupBtn:hover{
  background-color: rgb(69, 67, 67);
  color: white;
}

.heroSection {
  text-align: left;
  display: flex;
 
}

.adventure1 h1 {

  color: #2c2b2b;
  margin-left:8.5rem ;
  font-size: 4rem; /* Adjust the size to match */
  font-weight: 700; /* Bold font weight */
  line-height: 1.2; /* Adjust for spacing between lines */

}

.heroSubtext1 {
  font-family: Arial, sans-serif;
  font-weight: 400;
  color: #555;
  margin-left:8.5rem ;
  margin-top: 9rem;
  font-size: 1rem;
  
}

.heroSubtext {
  margin-bottom: 1.2rem;
  font-weight: 400;
  color: #2f2e2e;
  margin-left:8.5rem ;
  font-size: 1rem;
  line-height: 1.6;
  
}



 .howItWorks {
  text-align: center;
  padding: 40px 20px;
}

.heroImage, .serviceCard img, .destinationCard img {
  object-fit: cover;
  width: 100%;
  border-radius: 20px;
  margin-bottom: 15px;
}

.serviceCard{
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.heroInfo {
  text-align: left;
  flex: 1;
  align-items: center;
  justify-content: center; 
  margin-left: 3rem;
}


.imageLayout {
  display: flex;
  justify-content: center; 
  align-items: center;    
  gap: 0.8rem; 
  margin-right: 11rem;    
  margin-bottom: 5rem;       
}

.leftColumn, .rightColumn {
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
}

.large {
  width: 15rem;
  height: 18rem;
  border-radius: 1rem;
  object-fit: cover;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.small {
  width: 15rem;
  height: 10rem;
  border-radius: 1rem;
  object-fit: cover;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.startExploring {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(17, 119, 203);
  color: #fff;
  font-size: 1rem;
  font-weight: 600;
  padding: 0.65rem 1.7rem;
  border: none;
  border-radius: 0.5rem;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin-left:8.5rem ;
  margin-bottom: 15rem;
}
   

.startExploring:hover {
  background-color: #1d4ed8; 
}

.arrow {
  margin-left: 0.5rem;
  font-size: 1.2rem;
}

.servicesSection {
  padding: 4rem 0 8rem;
  }
  .servicesSection h2 {
  font-size: 2.5rem;
  font-weight: 700;
  text-align: left;
  margin-bottom: 3rem;
  margin-left: 11rem;
  color: #2c2b2b;
  }
  .serviceGrid {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  margin-left: 11rem;
  }
  .serviceCard {
  background-color: #fff;
  border-radius: 1rem;
  box-shadow: 0 4px 6px 2px rgba(0, 0, 0, 0.1); /* 2px spread radius */
  padding: 2rem;
  text-align: center;
  height: 20rem;
  width: 16rem;
  position: relative;
  align-items: center;
 
  }
  .serviceCard .icon {
  margin-bottom: 1rem;
  }
  
  .serviceCard h3 {
  font-size: 1.5rem;
  font-weight: 600;
  margin-bottom: 1rem;
  }
  .serviceCard p {
  font-size: 1rem;
  color: #555;
  }


  .moreLink {
    display: flex;
    align-items: center;
    position: absolute;
    right: 8rem;
    top: 160%;
    transform: translateY(-50%);
  }
  
  .moreLink img {
    width: 3rem;
    height: 3rem;
  }
/*How it works*/
.workSection {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  margin-left: 11rem;
  padding-top: 1.5rem;
  gap:5rem;
}

.imageContainer {
  flex: 1;
  position: relative;
  max-width: 500px;
  height: 35.5rem;
  width: 20rem;
  margin-top: 1.5rem;
}

.workImage {
  width: 100%;
  height: 100%;
  object-fit: cover;
  filter: brightness(0.8);
  border-radius: 1rem;
}

.workContent {
  position: absolute;
  top: 90%;
  left: 35%;
  transform: translate(-50%, -50%);
  padding-left: 2rem;
  color: #fff;
  
}

.workContent h1 {
  font-size: 1rem;
  text-align: left;
  color: #fff;
}

.buttonSection {
  flex: 1;
  display: flex;
  
}

.buttonSection h1{
  font-family: Arial, sans-serif;
  font-weight: 500;
  color: #797777;
  font-size: 1rem;
}


.stepCard {
  background: rgb(248, 249, 250);
  padding: 2rem;
  text-align: left;
  width: 100%;
  max-width: 600px;
}

.stepCard h2 {
  font-size: 2.5rem;
  margin-bottom: 1.5rem;
  font-weight: 500;
}


.buttonGroup {
display: flex;
flex-direction: column;
align-items: center;
width: 100%;
}
.buttonContainer {
display: flex;
align-items: center;
width: 85%;
margin-bottom: 1.5rem;
height: 4.6rem;
justify-content: space-between;
}

.searchIcon {
margin-right: 1rem;
font-size: 1.3rem;
}
.buttonContent {
flex: 1;
text-align: left;
}

.buttonContent strong {
font-size: 1.1rem;
font-weight: bold;
display: block;
margin-bottom: 0.5rem;
}

.buttonContent p {
font-size: 0.9rem;
color: #555;
}


.button1 {
justify-content: center;
text-align: left;
border-radius: 0.7rem;
padding-top: 0.9rem;
justify-items: center;
width: 33rem;
position: relative;
margin-left: 1.5rem;;
}


.button1:hover {
background: #fff;
box-shadow: 0 4px 6px 2px rgba(0, 0, 0, 0.1);
}
.buttonPlay{
  display: flex;
  align-items: center;
}

.arrowImg{
  height: 2rem;
  width: 2rem;
  opacity: 0;
  transition: opacity 0.3s ease;
  margin-left: 1.5rem;
 
}




.button1:hover + .arrowImg,
.buttonPlay:hover + .arrowImg {
  opacity: 1;
}


/*Category*/

.categoriesSection h1 {
  font-size: 2.5rem;
  font-weight: 700;
  text-align: left;
  margin-bottom: 0.8rem;
  color: #2c2b2b;
  display: flex;
}

.categoriesSection {
  margin-left: 10rem;
  text-align: center;
  padding: 40px 20px;
  margin-top: 5rem;
  
}

.categoriesSection h2 {
  text-align: left;
  font-weight: 400;
  color: #2f2e2e;
  font-size: 1rem;
  line-height: 1.6;
  display: flex;
  
}

.categoryGrid {
  display: flex;
  grid-template-columns: repeat(5, 1fr);
  grid-gap: 3rem;
  margin-top: 3rem;

}


.categoryCard img {
  height: 15rem;
  width: 12rem;
  object-fit: cover;
  border-radius: 6rem;
  display: flex;
}

 .categoryCard1 h3 {
  text-align: center;
  justify-content: center;
  font-size: 1rem;
  font-weight: 700;
  margin-bottom: 0.8rem;
  color: #2c2b2b;
  display: flex;
  margin-top: 1rem;
 
}
.arrowButtons {
display: flex;
 justify-content: end;
 gap: 1.5rem;

 
  }
  .leftArrow{
  width: 3rem;
  height: 3rem;
  cursor: pointer;
 
  }

  .rightArrow {
    width: 3rem;
    height: 3rem;
    cursor: pointer;
    margin-right:11rem ;
  }
  
  .g {
    display: flex;
    justify-content: space-between; 
    align-items: center;
    gap: 1rem; 
  }
  
  /*Destination*/

  .destinationsSection {
    margin-left: 11.5rem;
    text-align: left;
    margin-top: 5rem;
   

  }

  .destinationsSection h2 {
  font-size: 2rem;
  font-weight: 700;
  text-align: left;
  margin-bottom: 0.8rem;
  color: #2c2b2b;
  display: flex;
  }
  
  .destinationGrid {
    display: flex;
    gap:2.5rem;
    margin-top: 40px;
  }
  
  .destinationCard {
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    align-content: center;
    text-align: left;
    
  }
  
  .destinationCard img {
    width: 16rem;
    height: 16rem;
    object-fit: cover;
  }
  
  .destinationCard h3 {

    font-size: 18px;
    font-weight: 600;
    margin-left: 0.8rem;
  }
  
  .destinationCard p {
    margin-top:0.2rem;
    font-size: 14px;
    color: #666;
    margin-left: 0.8rem;
  }
  
  .exploreButton {
  display: flex;
  background-color: rgb(17, 119, 203);
  color: #fff;
  font-size: 1rem;
  font-weight: 600;
  padding: 0.65rem 1.7rem;
  border: none;
  border-radius: 0.5rem;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  transition: background-color 0.3s ease;
  display: inline-block;
   margin-left: 29rem;
   margin-top: 3rem;
   margin-bottom: 10rem;
  }
  
  .exploreButton:hover {
    background-color: #0056b3;
  }
 
  .destinationIcon .plusIcon,.destinationIcon .heartIcon{
    display: flex;
    height: 2rem;
    width: 2rem;
    margin-right: 0.7rem;
  }

  .destinationTi {
    
      display: flex;
      justify-content: space-between; 
      align-items: center;
    }

    .destinationIcon{
      display: flex;
       justify-content: end;
       gap: 0.2rem;
       align-items: center;
       margin-top: 1rem;
    }