.navbar {
  background-color: transparent;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.25rem 10vw;
  position: relative;
  top: 0;
  width: 100%;
  z-index: 1000;
  user-select: none;
}

.navTitle {
  font-size: 1.3rem;
  font-weight: bold;
  color: var(--foreground);
  text-wrap: nowrap;
  cursor: pointer;
}


.navLinks {
  display: flex;
  gap: clamp(1px, 3.3vw, 45px);
  font-size: 15px;
}

.navCom:hover{
  transition: 0.2s ease;
  transform: translate(0, -3px) scale(1.05);

}

.navCom:active{
  transition: 0.2s ease;
  transform: scale(0.95);
}


.ctoButtons {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 18px;
}

.navButton {
  font-size: 13px;
  color: white;
  text-decoration: none;
  padding: 8px 30px;
  border-radius: 8px;
  background-color: var(--foreground);
  transition: background-color 0.3s ease, color 0.3s ease;
}


.navButton:hover {
  background-color: var(--primary-color);
  color: white;
}

.navButtonSignup {
  font-size: 13px;
  text-decoration: none;
}

.navButtonSignup:hover {
  transition: 0.2s ease;
  transform: scale(1.05) translateY(-3px);
}

.navButtonSignup:active {
  transition: 0.2s ease;
  transform: scale(0.95);
}

/* Hamburger Icon */
.hamburger {
  display: none;
  flex-direction: column;
  gap: 5px;
  cursor: pointer;
}

.hamburger .line {
  width: 25px;
  height: 3px;
  background-color: var(--foreground);
  transition: all 0.3s ease;
}

/* Media Queries for Mobile */
@media screen and (max-width: 850px) {
  /* Hide nav links in mobile */
  .navLinks {
    display: none;
    flex-direction: column;
    gap: 1rem;
    position: absolute;
    top: 60px;
    right: 0;
    background-color: white;
    width: 100%;
    padding: 1rem;
  }

  /* Show hamburger icon */
  .hamburger {
    display: flex;
  }

  /* Show nav links when the hamburger icon is clicked */
  .navLinks.open {
    display: flex;
  }

  .ctoButtons {
    display: none;
    gap: 18px;
  }
}
