.locationGrid {
margin: auto;
}

.gridContainer {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap:25px; /* Automatically adjust the number of columns */
  justify-items: stretch; /* Make sure items fill their grid cells */
  justify-content: start; /* Align the entire grid to the left */
  width: 100%; /* Ensure full width */
}


.locationCard {
  text-align: left;
  display: flex; 
  flex-direction: column;
  height:265px;
  width: clamp(200px, 18.3vw, 310px); /* Set a fixed height for the card */
}

.locationCard img {
  max-width: 100%;
  height: 15.7vw;
  border-radius:1.5rem;
  object-fit: cover;  
}

.Content{
  display: flex;
  justify-content: space-between;
}

.info{
  display: flex;
  flex-direction: column;
}


.locationCard h3 {
  font-size: 0.9rem;
  font-weight: 600;
  margin-top: 10px;
  margin-left: 5px;
  max-width:200px;
  overflow: hidden;      
  text-overflow: ellipsis;
  white-space: nowrap;
  color: #333;
}

.locationCard p {
  max-width:200px;
  overflow: hidden;      
  text-overflow: ellipsis;
  white-space: nowrap;
  margin-top: -1px;
  margin-left: 5px;
  font-size: 0.9rem;
  color: #555;
  flex-grow: 1; /* Allow text to grow and take available space */
}

Container for the buttons inside the card
.buttonsContainer {
  display: flex;
  justify-content: space-around; /* Spread buttons evenly */
  gap: 10px;
  padding: 10px 0; /* Add padding for spacing */
  width: 100%;
  position: relative;
  bottom: 0; /* Ensure buttons are placed at the bottom of the card */
  margin-top: 10px; /* Add margin-top to give some spacing above buttons */
}

/* Button styles */
/* .buttonsContainer button {
  background-color: transparent;
  border: 1px solid #0070f3;
  color: #0070f3;
  padding: 10px;
  border-radius: 50%;
  cursor: pointer;
  font-size: 1.25rem;
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.buttonsContainer button:hover {
  background-color: #0070f3;
  color: white;
}

.activeButton {
  background-color: #0070f3;
  color: white;
}

.buttonsContainer button:disabled {
  background-color: #ccc;
  color: #888;
  cursor: not-allowed;
}


.buttonsContainer button:focus {
  outline: none;
  box-shadow: 0 0 0 2px #0070f3; 
} */
