.locationGrid {
margin: auto;
display: flex;
justify-content: center;
}

.gridContainer {
  display: grid;
  grid-template-columns: repeat(4, 1fr); 
  gap: 30px;
  justify-items: stretch; 
  justify-content: start; 

}


.locationCard {
  text-align: left;
  display: flex; 
  flex-direction: column;
  height:290px;
  width: clamp(150px, 16vw, 310px); /* Set a fixed height for the card */
  transition: transform 0.2s ease, filter 0.3s ease;
}

.locationCard:hover{
  transform: scale(1.03) translateY(-5px);
  cursor: pointer;
}

.locationCard:active{
  transition: 0.1s ease-in-out;
  transform: scale(0.98);
  cursor: pointer;
}

.locationCard img {
  max-width: 100%;
  height: 15.7vw;
  border-radius: 1.5rem;
  object-fit: cover;
}


.Content{
  display: flex;
  justify-content: space-between;
}

.info{
  display: flex;
  flex-direction: column;
}


.locationCard h3 {
  font-size: 0.9rem;
  font-weight: 600;
  margin-top: 10px;
  margin-left: 5px;
  max-width:200px;
  overflow: hidden;      
  text-overflow: ellipsis;
  white-space: nowrap;
  color: #333;
}

.locationCard p {
  max-width:200px;
  overflow: hidden;      
  text-overflow: ellipsis;
  white-space: nowrap;
  margin-top: -1px;
  margin-left: 5px;
  font-size: 0.9rem;
  color: #555;
  flex-grow: 1; /* Allow text to grow and take available space */
}

Container for the buttons inside the card
.buttonsContainer {
  display: flex;
  justify-content: space-around; /* Spread buttons evenly */
  gap: 10px;
  padding: 10px 0; /* Add padding for spacing */
  width: 100%;
  position: relative;
  bottom: 0; /* Ensure buttons are placed at the bottom of the card */
  margin-top: 10px; /* Add margin-top to give some spacing above buttons */
}

/* Button styles */
/* .buttonsContainer button {
  background-color: transparent;
  border: 1px solid #0070f3;
  color: #0070f3;
  padding: 10px;
  border-radius: 50%;
  cursor: pointer;
  font-size: 1.25rem;
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.buttonsContainer button:hover {
  background-color: #0070f3;
  color: white;
}

.activeButton {
  background-color: #0070f3;
  color: white;
}

.buttonsContainer button:disabled {
  background-color: #ccc;
  color: #888;
  cursor: not-allowed;
}


.buttonsContainer button:focus {
  outline: none;
  box-shadow: 0 0 0 2px #0070f3; 
} */
